body {
    font-family: "Poppins", sans-serif;
}

.font-t {
    font-size: 2rem;
}

.font-t-1 {
    font-size: 3rem;
}

.btns {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Darker background on mouse-over */
.btns:hover {
    background-color: RoyalBlue;
}

.dark-sm-1 {
    font-weight: 500;
    font-size: 0.875rem;
}

.dark-1 {
    font-weight: 700;
}

/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar,
.dark-mode .card {
    background-color: #1f1f1f;
}

font-l {
    font-size: 1.5rem;
    color: black;
}

.defaultText{
    color: black;
}